In [1]:
from dataquality import DataQuality

dataset = 'data/drivers.csv'
dataexcel = '/home/jonathan/Documents/myGitHub/dataquality-pandas/League of legend Champions 2024.csv'
food = 'foodstruct_nutritional_facts.csv'

df = DataQuality(dataset=food)

df

#################################
        RESUMO DO DATASET
#################################

    Nº de linhas: 1174
    Nº de colunas: 59
    Total valores únicos: 10098
    Total de Valores nulos: 18430

#################################
    DADOS NULOS por coluna:
Food Name                                  0
Category Name                              0
Calcium                                   25
Calories                                   0
Carbs                                      0
Cholesterol                               55
Copper                                    80
Fats                                       0
Fiber                                     98
Folate                                   103
Iron                                      21
Magnesium                                 61
Monounsaturated Fat                      110
Net carbs                                  1
Omega-3 - DHA                            272
Omega-3 - DPA                            279
Omega-3 - EPA                            271
Phosphorus                                48
Polyunsaturated fat                      110
Potassium                                 45
Protein                                    0
Saturated Fat                             81
Selenium                                 154
Sodium                                    21
Trans Fat                                540
Vitamin A (IU)                            56
Vitamin A RAE                            118
Vitamin B1                                59
Vitamin B12                               91
Vitamin B2                                58
Vitamin B3                                59
Vitamin B5                               199
Vitamin B6                                83
Vitamin C                                 50
Zinc                                      66
Choline                                  442
Fructose                                 872
Histidine                                465
Isoleucine                               461
Leucine                                  461
Lysine                                   453
Manganese                                162
Methionine                               456
Phenylalanine                            464
Starch                                   975
Sugar                                    300
Threonine                                462
Tryptophan                               464
Valine                                   461
Vitamin D                                345
Vitamin E                                358
Vitamin K                                383
Omega-3 - ALA                            998
Omega-6 - Eicosadienoic acid             909
Omega-6 - Gamma-linoleic acid           1004
Omega-3 - Eicosatrienoic acid           1060
Omega-6 - Dihomo-gamma-linoleic acid    1055
Omega-6 - Linoleic acid                 1033
Omega-6 - Arachidonic acid              1173
dtype: int64


##################################
    RESUMO DAS COLUNAS NUMÉRICAS
           Calcium     Calories        Carbs  Cholesterol       Copper  \
count  1149.000000  1174.000000  1174.000000  1119.000000  1094.000000
mean      0.099660   224.412266    25.049940     0.030845     0.000217
std       0.264301   185.838852    27.222293     0.085214     0.000565
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.012000    72.000000     3.600000     0.000000     0.000050
50%       0.031000   179.000000    13.000000     0.000000     0.000100
75%       0.089000   341.750000    44.750000     0.033500     0.000200
max       5.876000   902.000000   100.000000     1.085000     0.014000

              Fats        Fiber       Folate         Iron    Magnesium  ...  \
count  1174.000000  1076.000000  1071.000000  1153.000000  1113.000000  ...
mean     10.541371     3.123885     0.000053     0.002870     0.041921  ...
std      18.179044     6.383304     0.000135     0.007132     0.068221  ...
min       0.000000     0.000000     0.000000     0.000000     0.000000  ...
25%       0.380000     0.000000     0.000005     0.000380     0.011000  ...
50%       3.000000     1.300000     0.000017     0.001000     0.021000  ...
75%      14.000000     3.200000     0.000053     0.002500     0.041000  ...
max     100.000000    70.000000     0.002340     0.124000     0.770000  ...

          Vitamin D   Vitamin E     Vitamin K  Omega-3 - ALA  \
count  8.290000e+02  816.000000  7.910000e+02     176.000000
mean   7.752714e-07    0.001692  2.857535e-05       0.675227
std    8.890438e-06    0.006870  1.312185e-04       3.985335
min    0.000000e+00    0.000000  0.000000e+00       0.000000
25%    0.000000e+00    0.000110  2.000000e-07       0.040000
50%    0.000000e+00    0.000350  1.800000e-06       0.120000
75%    0.000000e+00    0.000923  7.950000e-06       0.272500
max    2.500000e-04    0.149000  1.715000e-03      49.000000

       Omega-6 - Eicosadienoic acid  Omega-6 - Gamma-linoleic acid  \
count                    265.000000                     170.000000
mean                       0.009321                       0.008118
std                        0.031290                       0.016853
min                        0.000000                       0.000000
25%                        0.000000                       0.000000
50%                        0.000000                       0.000000
75%                        0.010000                       0.010000
max                        0.400000                       0.130000

       Omega-3 - Eicosatrienoic acid  Omega-6 - Dihomo-gamma-linoleic acid  \
count                     114.000000                            119.000000
mean                        0.001491                              0.005882
std                         0.008118                              0.008773
min                         0.000000                              0.000000
25%                         0.000000                              0.000000
50%                         0.000000                              0.000000
75%                         0.000000                              0.010000
max                         0.080000                              0.040000

       Omega-6 - Linoleic acid  Omega-6 - Arachidonic acid
count               141.000000                        1.00
mean                  3.688936                        0.02
std                   5.342108                         NaN
min                   0.010000                        0.02
25%                   0.620000                        0.02
50%                   1.800000                        0.02
75%                   4.700000                        0.02
max                  39.000000                        0.02

[8 rows x 57 columns]

In [3]:
c,n = df.tipos_colunas()
n

     Blue Essence   RP  Base HP  Base mana
0            4800  880      650          0
1            3150  790      590        418
2            3150  790      600        200
3            4800  880      630        350
4            1350  585      685        350
..            ...  ...      ...        ...
163          4800  880      600        250
164          4800  880      606        480
165          1350  585      574        452
166          4800  880      630        425
167          3150  790      574        418

[168 rows x 4 columns]