In [5]:
from dataquality import DataQuality

dataset = 'drivers.csv'

df = DataQuality(dataset=dataset)
df.colunas

In [4]:
df.descricao()

         driverId
count  859.000000
mean   430.059371
std    248.213115
min      1.000000
25%    215.500000
50%    430.000000
75%    644.500000
max    860.000000

In [3]:
df.dados_faltantes()

driverId       0
driverRef      0
number         0
code           0
forename       0
surname        0
dob            0
nationality    0
url            0
dtype: int64