In [2]:
from dataquality import DataQuality

dataset = 'data/drivers.csv'
datalol = '/home/jonathan/Documents/myGitHub/dataquality-pandas/League of legend Champions 2024.csv'
food = 'foodstruct_nutritional_facts.csv'

df = DataQuality(dataset=datalol)

df.show()

# Descrição geral do dataset

'Números de Linhas'

168

'Números de Colunas'

13

# 5 Primeiras Linhas do Dataset

,Name,Nick Name,Classes,Release Date,Last Changed,Blue Essence,RP,Difficulty,Role,Range type,Resourse type,Base HP,Base mana
0,Aatrox,The darkin blade,Juggernaut,2013-06-13,V14.14,4800,880,Advanced,Top,Melee,Blood Well,650,0
1,Ahri,The nine-tailed fox,Burst,2011-12-14,V14.18,3150,790,Intermediate,Middle,Ranged,Mana,590,418
2,Akali,The rogue assassin,Assassin,2010-05-11,V14.18,3150,790,Expert,"Top,Middle",Melee,Energy,600,200
3,Akshan,The rogue sentinel,Marksman Assassin,2021-07-22,V14.14,4800,880,Intermediate_Plus,Middle,Ranged,Mana,630,350
4,Alistar,The minotaur,Vanguard,2009-02-21,V14.16,1350,585,Novice,Support,Melee,Mana,685,350

# 5 Linhas finais do Dataset

,Name,Nick Name,Classes,Release Date,Last Changed,Blue Essence,RP,Difficulty,Role,Range type,Resourse type,Base HP,Base mana
163,Zeri,The spark of zaun,Marksman,2022-01-20,V14.18,4800,880,Intermediate_Plus,Bottom,Ranged,Mana,600,250
164,Ziggs,The hexplosives expert,Artillery,2012-02-01,V14.18,4800,880,Novice,"Bottom,Middle",Ranged,Mana,606,480
165,Zilean,The chronokeeper,Specialist,2009-04-18,V13.22,1350,585,Intermediate,Support,Ranged,Mana,574,452
166,Zoe,The aspect of twilight,Burst,2017-11-21,V14.9,4800,880,Expert,Middle,Ranged,Mana,630,425
167,Zyra,Rise of the thorns,Catcher,2012-07-24 00:00:00,V14.15,3150,790,Intermediate_Plus,Support,Ranged,Mana,574,418

# Colunas categóricas do dataset

,Name,Nick Name,Classes,Release Date,Last Changed,Difficulty,Role,Range type,Resourse type
0,Aatrox,The darkin blade,Juggernaut,2013-06-13,V14.14,Advanced,Top,Melee,Blood Well
1,Ahri,The nine-tailed fox,Burst,2011-12-14,V14.18,Intermediate,Middle,Ranged,Mana
2,Akali,The rogue assassin,Assassin,2010-05-11,V14.18,Expert,"Top,Middle",Melee,Energy
3,Akshan,The rogue sentinel,Marksman Assassin,2021-07-22,V14.14,Intermediate_Plus,Middle,Ranged,Mana
4,Alistar,The minotaur,Vanguard,2009-02-21,V14.16,Novice,Support,Melee,Mana
...,...,...,...,...,...,...,...,...,...
163,Zeri,The spark of zaun,Marksman,2022-01-20,V14.18,Intermediate_Plus,Bottom,Ranged,Mana
164,Ziggs,The hexplosives expert,Artillery,2012-02-01,V14.18,Novice,"Bottom,Middle",Ranged,Mana
165,Zilean,The chronokeeper,Specialist,2009-04-18,V13.22,Intermediate,Support,Ranged,Mana
166,Zoe,The aspect of twilight,Burst,2017-11-21,V14.9,Expert,Middle,Ranged,Mana
167,Zyra,Rise of the thorns,Catcher,2012-07-24 00:00:00,V14.15,Intermediate_Plus,Support,Ranged,Mana

# Colunas numéricas do dataset

     Blue Essence   RP  Base HP  Base mana
0            4800  880      650          0
1            3150  790      590        418
2            3150  790      600        200
3            4800  880      630        350
4            1350  585      685        350
..            ...  ...      ...        ...
163          4800  880      600        250
164          4800  880      606        480
165          1350  585      574        452
166          4800  880      630        425
167          3150  790      574        418

[168 rows x 4 columns]

# Quantidade de dados nulos ou faltantes.

            index  0
0            Name  0
1       Nick Name  0
2         Classes  0
3    Release Date  0
4    Last Changed  0
5    Blue Essence  0
6              RP  0
7      Difficulty  0
8            Role  0
9      Range type  0
10  Resourse type  0
11        Base HP  0
12      Base mana  0

# Detalhamento das colunas  numéricas do dataset

       Blue Essence          RP     Base HP   Base mana
count    168.000000  168.000000  168.000000  168.000000
mean    3156.755952  706.071429  617.791667  314.547619
std     1733.155630  220.666616   39.358608  122.340734
min      450.000000  260.000000  410.000000    0.000000
25%     1350.000000  585.000000  595.750000  280.000000
50%     3150.000000  790.000000  625.000000  331.500000
75%     4800.000000  880.000000  645.000000  400.000000
max     7800.000000  975.000000  696.000000  530.000000

## Valores Únicos no Dataset

'709'

## Dados Duplicados no Dataset

'0'